
  /* #previewVideo { 
    position: fixed;
    top: 150%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
  } */
  
   #previewVideo { 
    position:cover;


  } 

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.questCont{
  height:40em;
  border: 1px solid black;
}